.add-form {
    max-width: 310px;
    padding: 20px;
}

.add-form input {
    margin-bottom: 15px;
}

.add-button {
    padding: 8px;
    border-radius: 4px;
    text-align: left;
    border: 0;
    font: inherit;
    width: 100%;
}

.add-list-wrapper > .add-button {
    min-width: 200px;
    background: rgb(182, 211, 182);
    color: white;
    font-weight: bold;
}

.add-list-wrapper > .add-button:hover {
    background: rgb(106, 164, 106);
}

.list > .add-button:hover {
    background: #BDBDBD;
}

.list > .add-button {
    color: black;
}

.board .add-form {
    align-self: flex-start;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}