body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2, h3 {
  margin: 0;
}

h2 {
  color: white;
}

ul {
padding: 0;
margin-top: 15px;
margin-bottom: 0;
list-style-type: none;
}

ul.lists {
}

input {
  display: block;
}

.btn {
  background-color: #5b9b45d4;
  padding: 7px 11px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: .9em;
}

.inactive {
  background: hsla(0,0%,100%,.3);
}

.btn:hover {
  background-color: #57ac3bd4;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}